/**
 * Merge all stylesheets into one
 */
/**
 * General variables
 */
/**
 * General mixins
 */
/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
/**
 * Mixins used by helper classes .pull-image--$pos and .pull-quote--$pos
 * 1. returns `left` if given `right` and vice versa
 */
/**
 * Main styles for: minnpost-mpls-mayoral-questionnaire
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */
body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-mpls-mayoral-questionnaire-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
}
.minnpost-mpls-mayoral-questionnaire-application-container .clear {
  clear: both;
}
.minnpost-mpls-mayoral-questionnaire-application-container .hidden {
  display: none;
}
.minnpost-mpls-mayoral-questionnaire-application-container .cf:before,
.minnpost-mpls-mayoral-questionnaire-application-container .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.minnpost-mpls-mayoral-questionnaire-application-container .cf:after {
  clear: both;
}
.minnpost-mpls-mayoral-questionnaire-application-container .cf {
  *zoom: 1;
}
.minnpost-mpls-mayoral-questionnaire-application-container .footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 3em;
  border-top: 1px solid #BCBCBC;
  padding-top: 1em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .loading {
  width: 100%;
  text-align: center;
  padding: 2em 2em;
  color: #ABABAB;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.minnpost-mpls-mayoral-questionnaire-application-container .loading span {
  padding: 10px 5px 10px 40px;
  background: transparent url("https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif") center left no-repeat;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.minnpost-mpls-mayoral-questionnaire-application-container a,
.minnpost-mpls-mayoral-questionnaire-application-container .link {
  color: #0073b6;
}
.minnpost-mpls-mayoral-questionnaire-application-container .link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.minnpost-mpls-mayoral-questionnaire-application-container h5 {
  text-transform: none;
  font-size: 1.25em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .star {
  color: #BDBDBD;
  font-size: 1em;
  width: 1.5em;
  text-align: right;
  float: right;
}
.minnpost-mpls-mayoral-questionnaire-application-container .star:hover {
  color: #797979;
  cursor: pointer;
}
.minnpost-mpls-mayoral-questionnaire-application-container .star.starred {
  color: #F5BC00;
}
.minnpost-mpls-mayoral-questionnaire-application-container .remove-storage {
  display: none;
}
.minnpost-mpls-mayoral-questionnaire-application-container .can-store .remove-storage {
  display: inline;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question-menu {
  min-height: 1em;
  display: block;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question-menu h5 {
  margin-bottom: 1em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question-menu ul {
  margin: 0 0 2em 0;
  padding: 0;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question-menu ul li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question-menu .favored-candidate {
  font-weight: bold;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question {
  margin-bottom: 1em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question .question-title {
  font-size: 100%;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: bold;
}
.minnpost-mpls-mayoral-questionnaire-application-container .question .question-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 1em;
  font-size: 1.15em;
  line-height: 1.25em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer h5 {
  margin-bottom: 1em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .answer-inner {
  margin-bottom: 1em;
  border: 1px solid #BDBDBD;
  padding: 1em;
  min-height: 9.6em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .summary-answer {
  font-size: .85em;
  line-height: 1.333333em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .answer-text {
  display: none;
  margin: 1em;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .summary-answer .read-more {
  text-transform: uppercase;
  display: block;
  text-align: center;
  clear: both;
  font-family: arial, helvetica, clean, sans-serif;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .answer-image {
  width: 5em;
  margin: 0 1em .5em 0;
  float: left;
  padding: 0;
}
.minnpost-mpls-mayoral-questionnaire-application-container .answer .answer-image img {
  max-width: 100%;
  width: auto;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .minnpost-mpls-mayoral-questionnaire-application-container .answer .answer-inner {
    min-height: 0;
  }
}
@media screen and (max-width: 500px) {
  .minnpost-mpls-mayoral-questionnaire-application-container .question-menu {
    font-size: .75em;
  }
  .minnpost-mpls-mayoral-questionnaire-application-container .question-menu ul li {
    line-height: 1.5em;
  }
}
