/**
 * Main styles for: minnpost-mpls-mayoral-questionnaire
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */

body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-mpls-mayoral-questionnaire-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;

  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent url($loader-image) center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }

  a {
    color: #3363FF;
  }

  h5 {
    text-transform: none;
    font-size: 1.25em;
  }

  .star {
    color: #BDBDBD;
    font-size: 1em;
    width: 1.5em;
    text-align: right;
    float: right;
  }

  .star:hover {
    color: #232323;
    cursor: pointer;
  }

  .star.starred {
    color: #F5BC00;
  }

  .remove-storage {
    display: none;
  }

  .can-store .remove-storage {
    display: inline;
  }

  .question-menu {
    min-height: 1em;
  }

  .question-menu h5 {
    text-align: center;
    margin-bottom: 1em;
  }

  .question-menu ul {
    margin: 0 0 2em 0;
    padding: 0;
  }

  .question-menu ul li {
    font-family: $sans-serif-font;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
  }

  .question {
    margin-bottom: 1em;
  }

  .question .question-title {
    font-size: 100%;
    font-family: $sans-serif-site-font;
    font-weight: bold;
  }

  .question .question-text {
    font-family: $sans-serif-font;
    margin-bottom: 1em;
  }

  .answer h5 {
    margin-bottom: 1em;
  }

  .answer .answer-inner {
    margin-bottom: 1em;
    border: 1px solid #BDBDBD;
    padding: 1em;
    min-height: 9em;
  }

  .answer .summary-answer {
    font-size: .85em;
    line-height: 1.333333em;
  }

  .answer .answer-text {
    display: none;
  }

  .answer .summary-answer .read-more {
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    text-align: center;
    clear: both;
  }

  .answer .answer-image {
    background-color: #BDBDBD;
    width: 3em;
    min-height: 4em;
    margin: 0 1em 1em 0;
    float: left;
  }
}