<div class="footnote">
  <p>Candidate answers were recieved via a questionnaire that MinnPost sent to candidates.  <span class="remove-local-storage">Your starred ansers are stored locally on your computer; for your privacy you can <span class="link remove-storage" on-tap="removeStorage" href="#remove">clear your starred questions</span>.</span>  Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-mpls-mayoral-questionnaire" target="_blank">Github</a>.</p>
</div>