<div class="footnote">
  <p>Candidate answers were recieved via a questionnaire that MinnPost sent to candidates.  <span class="remove-local-storage">Your preferences are stored locally on your browser, and for your own privacy, you can <a class="remove-storage" on-tap="removeStorage" href="#remove">remove the local data</a>.</span>  Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-mpls-mayoral-questionnaire" target="_blank">Github</a>.</p>
</div>