<div class="grid-container grid-parent {{ (canStore) ? 'can-store' : '' }}">
  <div class="grid-100 message-container"></div>

  <div class="grid-100 grid-parent content-container cf"></div>

  <div class="grid-100 grid-parent footnote-container"></div>
</div>