<div class="question-menu grid-20 mobile-grid-35 tablet-grid-20">
  <div class="question-menu-inner">
    <h5>Issues</h5>

    <ul>
      {{#questions:q}}
        <li><span class="link" on-tap="slideTo:{{ id }}">{{ shortname }}</span></li>
      {{/questions}}
    </ul>

    <h5>Starred</h5>

    <ul>
      {{#candidates:c}}
        <li class="{{ (maxStarred !== 0 && maxStarred === starred) ? 'favored-candidate' : '' }}"><span class="starred-candidate">{{ starred }}</span> &mdash; {{ candidate }}</li>
      {{/candidates}}
    </ul>
  </div>
</div>

<div class="candidates-questions-answers grid-80 mobile-grid-65 tablet-grid-80">
  {{#questions:q}}
    <div class="question grid-100 grid-parent" id="question-{{ id }}">
      <p class="question-text"><span class="question-title">{{ shortname }}:</span> {{{ question }}}</p>

      {{#answers:a}}
        <div class="answer grid-50" id="answer-{{ q }}-{{ a }}">
          <div class="answer-inner">
            <div class="answer-image"><img src="{{ imagePath }}{{ image }}" /></div>
            <div class="star {{ (starred) ? 'starred' : '' }}" on-tap="star:{{ q }},{{ a }}">★</div>

            <h5>{{ candidate }}</h5>

            <div class="summary-answer">
              <p class="summary-text"><strong>Summary</strong>: {{ summary }}</p>

              {{#answer}}
                <div class="answer-text">{{{ answer }}}</div>

                <div class="link read-more" on-tap="readMore:{{ q }},{{ a }}">Read more</div>
              {{/answer}}
            </div>
          </div>
        </div>
      {{/answers}}
    </div>
  {{/questions}}
</div>