<div class="question-menu grid-25">
  <h4>Questions</h4>

  <ul>
    {{#questions:q}}
      <li><a href="#question-{{ id }}">{{ shortname }}</a></li>
    {{/questions}}
  </ul>

  <h4>Candidates</h4>

  <ul>
    {{#candidates:c}}
      <li>{{ candidate }} ({{ starred }})</li>
    {{/candidates}}
  </ul>
</div>

<div class="candidates-questions-answers grid-75">
  {{#questions:q}}
    <div class="question grid-100 grid-parent" id="question-{{ id }}">
      <h3>{{ shortname }}</h3>

      <p>{{ question }}</p>

      {{#answers:a}}
        <div class="answer grid-50">
          <div class="answer-inner">
            <div class="star {{ (starred) ? 'starred' : '' }}" on-tap="star:q:a">★</div>

            <h4>{{ candidate }}</h4>

            <p>{{ answer }}</p>
          </div>
        </div>
      {{/answers}}
    </div>
  {{/questions}}
</div>