<div class="candidates-questions-answers">

  {{#questions:q}}
    <div class="question">
      <h3>{{ shortname }}</h3>
      <p>{{ question }}</p>

      {{#answers:a}}
        <h4>{{ candidate }}</h4>
        <p>{{ answer }}</p>
      {{/answers}}
    </div>
  {{/questions}}

</div>